{% extends '/admin/admin_base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% block body_nav %}
        {% endblock %}
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                {% block content_body %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}