{% extends 'admin/admin_content_base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body_nav %}
    <h1>Products</h1>
{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Update Article!</h1>
            {{ include('admin/product/_form.html.twig', {
                button_text: 'Update!'
            }) }}
        </div>
    </div>
{% endblock %}